@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-100px); 
        animation-timing-function: linear;
    }

    25% {
        opacity: 0.10;
        transform: translateY(-75px); 
        animation-timing-function: linear;
    }

    50% {
        opacity: 0.25;
        transform: translateY(-50px);
        animation-timing-function: linear;
    }

    75% {
        opacity: 0.5;
        transform: translateY(-25px);
        animation-timing-function: linear;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes checked {
    0% {
        width: 0;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    25% {
        width: 20px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    50% {
        width: 40px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    75% {
        width: 60px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    100% {
        width: 80px;
        background-color: #99E2D0;
        animation-timing-function: ease-out;
    }
}


.explore__button {
    transition: opacity 1s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

// Animation des favoris

.c1 {
    opacity: 0;
    transition: opacity 0.3s;
}

.c2 {
    opacity: 1;
    transition: opacity 0.3s;
}
.checkbox:checked ~ .c1 {
    opacity: 1;
}

.checkbox:checked ~ .c2 {
    opacity: 0;
}

// Animation des menus

.btn2 {
    &-1 {
        animation: slidedown 0.5s 0.05s both;
    }

    &-2 {
        animation: slidedown 0.5s 0.1s both;
    }

    &-3 {
        animation: slidedown 0.5s 0.15s both;
    }

    &-4 {
        animation: slidedown 0.5s 0.2s both;
    }

    &-5 {
        animation: slidedown 0.5s 0.25s both;
    }

    &-6 {
        animation: slidedown 0.5s 0.3s both;
    }
    
    &-7 {
        animation: slidedown 0.5s 0.35s both;
    }

    &-8 {
        animation: slidedown 0.5s 0.4s both;
    }

    &-9 {
        animation: slidedown 0.5s 0.45s both;
    }
}

// Animation de la checkbox des articles

.fa-background {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    overflow: hidden;
}

.checkbox2:checked {
    ~ .fa-background {
    animation: checked 0.5s both;
    }
}


