.explore__button {
    transition: opacity 1s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

// Animation des favoris

.c1 {
    opacity: 0;
    transition: opacity 0.3s;
}

.c2 {
    opacity: 1;
    transition: opacity 0.3s;
}
.checkbox:checked ~ .c1 {
    opacity: 1;
}

.checkbox:checked ~ .c2 {
    opacity: 0;
}