@keyframes slidedown {
    0% {
        opacity: 0;
        transform: translateY(-60px); 
        animation-timing-function: ease-in;
    }

    25% {
        opacity: 0.10;
        transform: translateY(-45px); 
        animation-timing-function: linear;
    }

    50% {
        opacity: 0.25;
        transform: translateY(-30px);
        animation-timing-function: linear;
    }

    75% {
        opacity: 0.5;
        transform: translateY(-15px);
        animation-timing-function: linear;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes checked {
    0% {
        width: 0;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    25% {
        width: 20px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    50% {
        width: 40px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    75% {
        width: 60px;
        background-color: #99E2D0;
        animation-timing-function: linear;
    }

    100% {
        width: 80px;
        background-color: #99E2D0;
        animation-timing-function: ease-out;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg); 
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.90;
    }

    50% {
        opacity: 0.70;
    }

    75% {
        opacity: 0.50;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}


.explore__button {
    transition: opacity 1s ease-in-out;
    &:hover {
        opacity: 0.6;
    }
}

// Animation des favoris

.c1 {
    opacity: 0;
    transition: opacity 0.3s;
}

.c2 {
    opacity: 1;
    transition: opacity 0.3s;
}
.checkbox:checked ~ .c1 {
    opacity: 1;
}

.checkbox:checked ~ .c2 {
    opacity: 0;
}

// Animation des menus

.btn2 {
    &-1 {
        animation: slidedown 1.25s 0.75s both;
    }

    &-2 {
        animation: slidedown 1.25s 1s both;
    }

    &-3 {
        animation: slidedown 1.25s 1.25s both;
    }

    &-4 {
        animation: slidedown 1.25s 1.5s both;
    }

}

// Animation de la checkbox des articles

.fa-background {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: transparent;
    overflow: hidden;
}

.checkbox2:checked {
    ~ .fa-background {
    animation: checked 0.5s both;
    }
}

// Animation du loader

.loader {
    &__container {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #99E2D0;
        z-index: 10;
        opacity: 0;
        animation: opacity 1s linear both;
        display: flex;
        align-items: center;
        justify-content: center;  
    }

    &__item {
        border: 16px solid white;
        border-top: 16px solid #89C8FA; 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: loader 1s linear infinite;
    }
}



