body {
    margin: 0;
}

button {
    padding: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

.fa-heart {
    width: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.textleft {
    text-align: left;
}